body{
    padding: 50px 0;

font-family: "Comic Sans MS",Helvetica,sans-serif;
font-size: 14px;
line-height: 1.42857143;
}
.status {
    font-family: 'Source Sans Pro', sans-serif;
}
.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #9932CC;
    line-height: 45px;
    padding-top: 20px;
    letter-spacing: -0.8px;
}
#gutter { 
float : left;
width : 3%;
height : 1px;
} 
#col1 { 
float : left;
width : 35%;
margin-bottom : 1em;
border-right : 1px solid #eee;
padding-right : 3%;
} 
#col2 { 
float : left;
width : 25%;
margin-left : 3%;
margin-bottom : 1em;
border-right : 1px solid #eee;
padding-right : 3%;
} 
#col3 { 
float : left;
width : 20%;
margin-left : 3%;
margin-bottom : 1em;
}
			
#navcontainer ul { 
margin-top : 10px;
list-style-type : none;
background : #fff;
color : #666;
} 
#navcontainer ul li a { 
padding : 20px;
color : #666;
background : transparent url(images/list-off.gif) no-repeat left center;
text-align : left;
font : normal 1.2em "Trebuchet MS", "Lucida Grande", verdana, "Lucida Sans Unicode", lucida, sans-serif;
text-decoration : none;
} 
#navcontainer ul li a:hover { 
color : #006699;
background : transparent url(images/list-on.gif) no-repeat left center;
} 
#navcontainer ul li a#current { 
background : transparent url(images/list-active.gif) no-repeat left center;
color : #000;
} 
#footer { 
clear : both;
height : 100px;
border-top : 5px solid #015990;
padding : 5px;
text-align : center;
background : transparent url(images/footer.jpg) no-repeat top center;
color : #000;
} 
			 
h1 { 
margin : 0;
padding : 1.5em 0 0 2em;
text-transform : uppercase;
font-size : 1.5em;
letter-spacing : 3px;
color : #015990;
background : transparent;
} 
h2 { 
margin : 0;
padding : 5px;
text-transform : uppercase;
font-size : 1.4em;
letter-spacing : 3px;
color : #015990;
background : inherit;
} 
			
a { 
text-decoration : none;
color : #006699;
background-color : inherit;
} 
a:hover { 
text-decoration : underline;
color : #008000;
background : inherit;
} 
a img { 
border : 0;
} 

